@for $i from 1 through 3{
  .animation-loader :nth-child(#{$i}){
    position: absolute;
      bottom: 50%;
      transform: translateX(#{90*($i - 2)}px); 
      animation: movingDots #{$i + 2}s infinite;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-direction: reverse;
      animation-delay: #{$i - 1}s;
  }
}

@keyframes movingDots{
  0%{
    bottom: 50%;
  }
  25%{
    bottom: 70%;
  }
  50%{
      bottom: 50%;
  }
  75%{
      bottom: 30%;
  }
  100%{
      bottom: 50%;
  }
}