# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
package-lock.json
package-lock.json
ignore/old/page.tsx
ignore/old/mongodb[old]/fetchButton.tsx
ignore/old/mongodb[old]/fetchedData.tsx
ignore/old/mongodb[old]/fetchedElement.unused
ignore/old/mongodb[old]/makingItWork!!.md
ignore/old/mongodb[old]/MongoGetElements.tsx
ignore/old/realm/loading.tsx
ignore/old/realm/page.tsx
ignore/old/realm/pageClient.tsx
ignore/old/utils/mongo_client.ts
ignore/old/mongodb[old]/fetchButton.tsx
ignore/old/mongodb[old]/fetchedData.tsx
ignore/old/mongodb[old]/fetchedElement.unused
ignore/old/mongodb[old]/makingItWork!!.md
ignore/old/mongodb[old]/MongoGetElements.tsx
